<h1>Make a new cat</h1>

<form action="/cats" method="post">
  <label for="name">Name:</label>
  <input id="name" type="text" name="cat[name]"/>
  <label for="breed">Breed:</label>
  <input id="breed" type="text" name="cat[breed]"/>
  <input type="submit" />
</form>
