<h1>Get your cupcakes here!</h1>

<%= link_to "Add Cupcake", new_cupcake_url %>
<%= link_to "All Customers", customers_path %>

<ul>
  <% @cupcakes.each do |cupcake| %>
    <li>
      <%= link_to cupcake.name, cupcake %>
    </li>
  <% end %>
</ul>
