ul {
  list-style: none;
}

.painting {
  border: solid 2px black;
  width: 40vw;
  margin: 10px;
  padding: 10px;
}

.painting img {
  width: 100%;
}

.painting-list {
  display: flex;
  flex-wrap: wrap;
}

input {
  border: solid 1px lightseagreen;
  border-radius: 5px;
  margin: 10px 20px;
  font-size: 2rem;
}

a {
  color: white;
}

li a {
  color: black;
}
